

body {
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p {
    color: rgb(36, 36, 36);
}

.hero-img {
    position: absolute;
    top: 10vh;
    left: 0;
    background: url('../images/mainbg_mobile.png');
    background-size: cover;
    width: 100%;
    height: 90vh;
    z-index: -1;
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;

    img {
        width: 6em;
    }

    a {
        color: black;
        font-weight: 600;
    }
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: black;
            padding: .75em 2em;
            display: block;
            width: 100%;

            &:hover {
                background: rgb(235, 235, 235);
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;

    svg {
        width: 2.3em;
        margin-top: -.6em;
        cursor: pointer;
    }
}

.logo {
    color: black;

    span {
        color: #DB4E54;
    }
}

h1 {
    font-size: 3rem;
    margin-top: 2em;
    line-height: 4rem;
    letter-spacing: 0.1rem;
}

section.hero {
    height: 90vh;

    button {
        margin-top: 20vh;
    }
}

button {
    background-color: #DB4E54;
    border-radius: 100px;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;

    a {
        text-decoration: none;
        color: white;
    }

}

button:hover {
    background-color: #b13f45;
}

section.example-table-data {
    margin-top: 2em;
    margin-bottom: 2em;
    
}

section.more-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;

    h2 {
        font-weight: 400;
        font-size: 2em;
    }
}

.cards {
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;

    h3 {
        font-weight: 400;
        font-size: 1.5em;
    }

    p {
        line-height: 1.8rem;
        
        text-align: justify;
        hyphens: auto;
    }
 
}

hr {
    height: 2px;
    width: 20%;
    background-color: #DB4E54;
    border: none;
    margin: 0;
    margin-bottom: 1em;
}

section.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../images/globe.png') no-repeat center center;
    background-size: cover;
    height: 40vh;
    width: calc(100% + 4em);
    margin-left: -2.1em;
    width: 100vw;

    h1 {
        padding: 0;
        margin: 0;
        font-weight: 900;
        font-size: 3.4rem;
        opacity: 50%;
        width: auto;
    }

    button {
        margin-top: 1.5em;
        padding: .6em 1.8em .6em 1.8em;
        font-size: 1rem;
    }
}

section.footer {
    height: 40vh;
    display: flex;
    flex-direction: column;

    h2 {
        font-weight: 400;
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 2em;
    }

    hr {
        width: 15%;
        margin-bottom: 2em;
    }

}

footer {
    display: flex;
    flex-direction: row;
    margin-bottom: -2em;
    .socials {
        //margin-top: 5em;
        display: flex;
        align-items: center;
        margin-right: 2em;

        a svg {
            width: 2em;
            height: 2em;
            fill: rgb(54, 54, 54);
            margin-right: 0.4em;
        }
    }
}

.open-nav {
    transform: translateX(0%);
}

#iframe {
    border:none; 
    min-height: 100vh !important; 
    min-width: 100vw !important;
    margin-left: -6em !important;
    padding: 0 !important;
}

@media (max-width: 680px) {
    #iframe {
        display: none;
    }

    section.call-to-action {
        h1 {
            font-size: 2.5rem;
        }
    }
}
  

@media only screen and (min-width: 680px) {

    body {
        margin: 1.5em 5em;
        font-family: 'Poppins', sans-serif;
    }

    section.call-to-action {
        margin-left: -6.3em;
    }

}

@media only screen and (min-width: 920px) {

    section.call-to-action {
        h1 {
            font-size: 3.4rem;
        }
    }

    .menu {
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        svg.close {
            display: none;
        }

        ul {
            display: flex;
            margin: 0;

            a {
                padding: .5em 1.5em;

                &:hover {
                    background: none;
                    text-decoration: underline;
                    text-decoration-color: #DB4E54;
                }
            }
        }
    }

    .hero-img {
        position: absolute;
        top: 10vh;
        left: 0;
        background: url('../images/mainbg_desktop.png') no-repeat center center;
        background-size: cover;
        width: 55%;
        margin-left: 45%;
        height: 90vh;
        z-index: -1;
        overflow: hidden;
    }

    h1 {
        font-size: 2.5rem;
        margin-top: 4em;
        line-height: 4rem;
        letter-spacing: 0.1rem;
        width: 40%;
    }
    
    section.hero {
        button {
            margin-top: 2em;
        }
    }

    .cards {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2em;
        width: 20em;
        padding-left: 1.5em;
        padding-right: 1.5em;

        h3 {
            font-weight: 400;
            font-size: 1.5em;
        }

        p {
            line-height: 1.8rem;
            
            text-align: justify;
            hyphens: auto;
        }
    
    }

    .wrapper {
        width: 90vw;
    }

}

@media only screen and (min-width: 1400px) {

    .cards {
        width: 85%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        padding-left: 1em;
        padding-right: 1em;
    }

    .hero-img {
        width: 65%;
        margin-left: 35%;
    }

    h1 {
        font-size: 3rem;
        width: 30%;
    }
    
    section.hero {
        margin-left: 2.5em;
    }

    hr {
        width: 10%;
    }

    section.footer {
        hr {
            width: 5em;
        }
    }
}